<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>System // Marshal-Tech</title>

<link rel="stylesheet" href="/static/css/index.css">

</head>

<body>

<div class="container">

<header>
<h1>System</h1>
<p>Marshal-Tech infrastructure</p>
<span class="version">v4.1</span>
</header>

<main>

<section class="panel">
<h2>Personal</h2>
<p>
Heyoo! I'm Marshal, and I spend most of my time breaking things and then fixing them.
I am currently 15 and still learning about coding, hardware, and anything tech related!
</p>
</section>

<section class="panel">
<h2>Tech</h2>
<p>
I enjoy digging into newer or old hardware, old laptops, Linux installs, and random software
to see how it works. Most projects start as questions and usually ends up with something
half-functional but interesting.
</p>
</section>

<section class="panel">
<h2>Projects & Interests</h2>
<ul>
<li>Gaming and messing with game mods</li>
<li>Linux and weird operating systems</li>
<li>Backend experimentation and Python</li>
<li>Self-hosting services</li>
<li>Building NAS / server setups</li>
</ul>
</section>

<section class="panel">
<h2>Main System</h2>
<ul class="specs">
<li>CPU — Intel Core i5-10600KF</li>
<li>GPU — Radeon RX 5700 8GB</li>
<li>RAM — 20GB DDR4</li>
<li>OS — Arch Linux ZEN kernel</li>
<li>STORAGE — 128GB NVME, 3TB HDD</li>
</ul>
</section>

<section class="panel">
<h2>Main Server</h2>
<ul class="specs">
<li>CPU — Intel Core i7-6700K</li>
<li>STORAGE — 4 1TB-7200RPM</li>
<li>RAM — 12GB DDR4(maybe 32GB soon)</li>
<li>OS — Ubuntu Server </li>
<li>Hosting a NAS, Website, DNS, VPN, i forget</li>
</ul>
</section>

<section class="panel">
<h2>Site Info</h2>
<p>
This site is self-hosted and mostly hand-written. Feel free to reach out with ideas or suggestions.
</p>
</section>

<div class="links">
<a href="/">[ Home ]</a>
<a href="/labs">[ Labs ]</a>
<a href="/stats">[ Server Stats ]</a>
<a href="/contact">[ Contact Marshal ]</a>
</div>

</main>

</div>
</body>
</html>
